<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/peliculas">Lista de Películas</a></li>
        <li><a href="/peliculas/nueva">Agregar Nueva Película</a></li>
    </ul>
</nav>
